# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\elbam\OneDrive\Documents\Study\Year2\Semester B\Advanced Topics Programming\ATP-Project-GUI\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
